@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blog-content h2 {
    @apply text-2xl font-bold text-gray-900 mt-8 mb-4;
  }
  
  .blog-content h3 {
    @apply text-xl font-semibold text-gray-900 mt-6 mb-3;
  }
  
  .blog-content p {
    @apply mb-4 text-base;
  }
  
  .blog-content ul {
    @apply list-disc ml-6 mb-4;
  }
  
  .blog-content ul li {
    @apply mb-2;
  }
  
  .blog-content ol {
    @apply list-decimal ml-6 mb-4;
  }
  
  .blog-content ol li {
    @apply mb-2;
  }
  
  .blog-content p b,
  .blog-content p strong {
    @apply font-semibold;
  }
}
